repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]

      - id: autopep8
        name: autopep8
        entry: poetry run autopep8
        language: system
        types: [python]
        args: ['--in-place', '--recursive']

      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        args: ['--ignore=E501,F405']

      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false
